In [1]:
import sqlite3
import pandas as pd

In [ ]:
# SQLite 데이터베이스 연결
conn = sqlite3.connect('./database/database.db')
cursor = conn.cursor()

# TB_meta_info 테이블 조회
# cursor.execute("SELECT * FROM TB_meta_info").fetchall()
# rows = cursor.fetchall()

In [ ]:
df = pd.read_sql_query("SELECT * FROM TB_meta_info", conn)

In [ ]:
df

In [19]:
df

,full_path,file_id,folder_name,file_size,file_type
0,G:\industry_data\cctv_data\data\1.Training\lab...,TL1,label_data,16281009,.zip
1,G:\industry_data\cctv_data\data\1.Training\lab...,TL11,label_data,20319814,.zip
2,G:\industry_data\cctv_data\data\1.Training\lab...,TL12,label_data,18182020,.zip
3,G:\industry_data\cctv_data\data\1.Training\lab...,TL13,label_data,16194919,.zip
4,G:\industry_data\cctv_data\data\1.Training\lab...,TL14,label_data,14802585,.zip
...,...,...,...,...,...
2745334,G:\industry_data\sand_data\data\Validation\01....,442236,VS_2.모래위험광물분류,5862592,.png
2745335,G:\industry_data\sand_data\data\Validation\01....,442237,VS_2.모래위험광물분류,5373272,.png
2745336,G:\industry_data\sand_data\data\Validation\01....,442257,VS_2.모래위험광물분류,5439086,.png
2745337,G:\industry_data\sand_data\data\Validation\02....,VL_1.모래입자크기분류,02.라벨링데이터,28313802,.zip
2745338,G:\industry_data\sand_data\data\Validation\02....,VL_2.모래위험광물분류,02.라벨링데이터,149955891,.zip

In [18]:
conn.close()