In [1]:
import sqlite3
import pandas as pd

In [2]:
# SQLite 데이터베이스 연결
conn = sqlite3.connect('./database/database.db')
cursor = conn.cursor()

# TB_meta_info 테이블 조회
# cursor.execute("SELECT * FROM TB_meta_info").fetchall()
# rows = cursor.fetchall()
# cursor.execute("DROP TABLE TB_meta_info;")
# cursor.execute("PRAGMA table_list;").fetchall()

In [6]:
cursor.execute("DROP TABLE TB_meta_info;")

In [7]:
df = pd.read_sql_query("SELECT * FROM TB_meta_info", conn)

DatabaseError: Execution failed on sql 'SELECT * FROM TB_meta_info': no such table: TB_meta_info

In [3]:
df = pd.read_sql_query("SELECT * FROM TB_meta_info", conn)

In [4]:
df

,full_path,file_id,folder_name,file_size,file_size_readable,file_type,data_category
0,/mnt/external_drive/industry_data/cctv_data/da...,62041c6c-60e9-4978-98ab-0f39eadc971e,label_data,16281009,15.5 MB,.zip,cctv_data
1,/mnt/external_drive/industry_data/cctv_data/da...,f9322920-09c7-4836-9574-c0bd1188caeb,label_data,20319814,19.4 MB,.zip,cctv_data
2,/mnt/external_drive/industry_data/cctv_data/da...,df865ed7-b112-401e-b0fa-7f008f34d8ba,label_data,18182020,17.3 MB,.zip,cctv_data
3,/mnt/external_drive/industry_data/cctv_data/da...,eec76a80-cd4b-4625-973f-9f41a45f2f7f,label_data,16194919,15.4 MB,.zip,cctv_data
4,/mnt/external_drive/industry_data/cctv_data/da...,46184155-2397-44b2-92d6-8ab81bfa982c,label_data,14802585,14.1 MB,.zip,cctv_data
...,...,...,...,...,...,...,...
2745334,/mnt/external_drive/industry_data/sand_data/da...,4cc7f483-8073-41e1-89bd-4c5b2071434f,VS_2.모래위험광물분류,5862592,5.6 MB,.png,sand_data
2745335,/mnt/external_drive/industry_data/sand_data/da...,c45014fb-9ceb-44dc-baa6-436b6028b418,VS_2.모래위험광물분류,5373272,5.1 MB,.png,sand_data
2745336,/mnt/external_drive/industry_data/sand_data/da...,f38dfc8c-3f9d-4d33-afe9-b855cbeb8a3b,VS_2.모래위험광물분류,5439086,5.2 MB,.png,sand_data
2745337,/mnt/external_drive/industry_data/sand_data/da...,737066f7-85f8-4f3b-94ed-634b3a66ed87,02.라벨링데이터,28313802,27.0 MB,.zip,sand_data
2745338,/mnt/external_drive/industry_data/sand_data/da...,0f0ee93d-726b-4788-8537-f52888c9aabf,02.라벨링데이터,149955891,143.0 MB,.zip,sand_data

In [5]:
conn.close()